.card {
    border: none;
    font-size: 1rem;
    margin-bottom: 20px;

    @include breakpoint(lg) {
        font-size: 1.2rem;
    }
}

.card-header {
    background-color: $secondary-color;
    font-size: 2rem;

    & a {
        color: #FFF;

        & span {
            font-size: 2rem;
            display: block;
            float: left;
        }
    }

    & span:not(& a span) {
        margin-left: -32px;
    }

    & .material-icons {
        line-height: inherit;
    }
}

.card-body {
    background-color: $tertiary-color;
    padding-top: 30px;

    @include breakpoint(lg) {
        & .offset-md-1 {
            margin-left: 7%;
        }
    }
}

.row {
    margin-bottom: 20px;

    &:last-child {
        margin-top: 40px;
    }

    & input {
        width: 100%;
    }

    span {
        a {
            color: white;

            &:hover {
                color: #d7deda;
            }
        }
    }
}

textarea {
    resize: none;
}

.task-container {
    position: inherit;
    transform: none;
    margin-top: 50px;
}

.task {
    .card-header {
        & span:not(& button span) {
            display: block;
            float: left;
            margin-left: 0;
        }

        & span:not(& a span) {
            margin-left: 0;
        }

        button {
            display: block;
            float: right;
            border: none;
            width: 32px;
            padding: 0;

            &:hover {
                background-color: transparent;
                color: #FFF;
            }

            &:last-of-type {
                margin-right: 10px;
            }

            & span {
                font-size: 2rem;
            }
        }
    }

    .card-body {
        & span {
            display: block;
        }
    }

    .card-footer {
        background-color: $secondary-color;
    
        & span {
            font-size: 1rem;
            padding-right: 10px;
            display: block;
        }
    
        & .material-icons {
            padding-right: 5px;
            vertical-align: bottom;
        }
    }
}
