.container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: $secondary-font;

  @include breakpoint(md) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;

  @include breakpoint(md) {
    font-size: 2rem;
  }
}

button {
  color: #FFF;
  cursor: pointer;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 800;
  border: #FFF solid 2px;
  border-radius: 24px;
  padding: 10px 40px;
  width: 200px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin: 0;

  &:hover {
    background: #FFF;
    color: $primary-color;
    border-color: $primary-color;
  }
}

a {
  text-decoration: none;
}

a:first-of-type button {
  margin-bottom: 20px;

  @include breakpoint(385px) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  @include breakpoint(xs) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.alert {
  background-color: $secondary-color;
  position: relative;

  & button {
    color: #FFF;
    cursor: pointer;
    outline: none;
    background: transparent;
    font-weight: 800;
    border: none;
    padding: 0;
    width: 20px;
    transition: all 0.2s linear;
    position:absolute;
    top: 12px;
    right: 20px;
  }
}

.standalone-button {
  width: 270px;
}
