.modal {
    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header, .modal-footer {
        background-color: $primary-color;
        border: none;
    }

    .modal-header {
        position: relative;

        button {
            color: #FFF;
            cursor: pointer;
            outline: none;
            background: transparent;
            font-weight: 800;
            border: none;
            padding: 0;
            width: 30px;
            transition: all 0.2s linear;
            position:absolute;
            top: 16px;
            right: 20px;

            &:hover {
                color: $tertiary-color;
            }

            i {
                font-size: 30px;
            }
        }
    }

    .modal-body {
        background-color: #FFF;
        color: $secondary-color;

        input, textarea {
            border: solid 1px $secondary-color;
            color: $secondary-color;
            border-radius: 10px;
            padding: 5px 10px;
    
            &:focus {
                color: $secondary-color;
            }
        }
    }
}
