.navbar{
    background-color: $secondary-color;
    height: 70px;

    & .navbar-brand {
        font-family: $secondary-font;
        color: white;
    }

    & .nav-link, & a {
        color: white;
        cursor: pointer;
    }

    & .material-icons {
        padding-right: 10px;
        vertical-align: bottom;
    }

    & .dropdown-menu {
        background-color: $secondary-color;
    }

    & button {
        color: #FFF;
        cursor: pointer;
        outline: none;
        background: transparent;
        font-weight: 800;
        border: none;
        padding: 0;
        width: 20px;
        transition: all 0.2s linear;    
      }
}
