.navbar {
    background-color: $primary-color;
    height: 70px;

    .navbar-brand {
        font-family: $secondary-font;
        color: #FFF;

        &:hover {
            color: $tertiary-color;
        }
    }

    .nav-item {
        margin-right: 20px;
    }

    .nav-link {
        color: #FFF;
        cursor: pointer;

        &:hover {
            color: $tertiary-color;
        }
    }

    .material-icons {
        padding-right: 5px;
        vertical-align: bottom;
    }

    .dropdown-menu {
        background-color: #FFF;
        color: $secondary-color;
        padding: 0;

        .dropdown-item {
            height: 32px;
            color: $secondary-color;

            &:hover {
                background-color: $secondary-color;
                color: #FFF;
            }
        }

        hr {
            margin: 0;
        }
    }

    button {
        color: #FFF;
        cursor: pointer;
        outline: none;
        background: transparent;
        font-weight: 800;
        border: none;
        padding: 0;
        width: 20px;
        transition: all 0.2s linear;    
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
}
