{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Basic SEO-->
    <title>{% block title %}To-do list{% endblock %}</title>
    <meta name="title" content="To-do list | Let your tasks be always with you">
    <meta name="description" content="Add tasks and stay on top of what you have to do.">
    <meta name="og:image" content="{% static 'images/url-image.png' %}">
    <meta name="keywords" content="to-do, list, tasks">
    <!--Stylesheets-->
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" />
    {% endcompress %}
    <!-- Scripts -->
    {% block scripts %}
    {% compress js preload %}
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    {% endcompress %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    {% endblock %}
    <!--Favicon -->
    <!-- Icon made by Freepik from www.flaticon.com -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" size="32" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    {% if user.is_authenticated %}
    {% include 'main/navbar.html' %}
    {% endif %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>
