<div class="modal fade" id="confirm-modal-{{task.id}}" tabindex="-1" aria-labelledby="confirm-modal-label-{{task.id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-modal-label-{{task.id}}">Delete task</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete task "{{ task.title }}"?
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <form action="{% url 'delete_task' task.id  %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
