{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>To-do list</h1>
    <h2>Let your tasks be always with you</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'dashboard' %}">
        <button class="standalone-button" type="submit">Go to dashboard</button>
    </a>
    {% else %}
    <div class="buttons">
        <a href="{% url 'login' %}">
            <button type="submit">Login</button></a>
        <a href="{% url 'register' %}">
            <button type="submit">Register</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
