<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <span><i class="material-icons">task</i>Tasks</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'create_task' %}">
                        <span><i class="material-icons">add</i>Add new task</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span><i class="material-icons">event</i>Calendar</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'home' %}">To-do list</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span>
                            <i class="material-icons">person</i>
                            {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user }})
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
