{% autoescape off %}
You have received this email because a request has been made to reset the password for the {{ user.username }} user account in the To-do list application ({{ site_name }}). This account is associated with your email address. If you have not made this request, please ignore this email.

To reset your password please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

The password reset link will expire in 15 minutes.

Thanks for using our site,
The To-do list application team
{% endautoescape %}
