{% load i18n %}
{% autoescape off %}
{% blocktrans %}You have received this email because a request has been made to reset the password for the {{ user.get_username }} user account in the To-do list application ({{ site_name }}). This account is associated with your email address. If you have not made this request, please ignore this email.{%endblocktrans %}

{% trans "To reset your password please go to the following page and choose a new password:" %}
    {% block reset_link %}
        {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
{% trans "Thanks for using our site," %}
{% blocktrans %}The To-do list application team{% endblocktrans %}
{% endautoescape %}
