{% extends 'main/base.html' %}

{% block content %}
<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'login' %}">
                        <span class="material-icons">arrow_back</span>
                    </a>
                    <span>Reset password</span>
                </div>
                <div class="card-body align-items-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">Password reset sent</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>
                                If the account associated with the email address you provided exists, instructions will be sent to that email address along with a link to reset your password. If you did not receive the message, please check the correctness of the entered data or the SPAM folder.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
