{% extends 'main/base.html' %}

{% block content %}
<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'login' %}">
                        <span class="material-icons">arrow_back</span>
                    </a>
                    <span>Reset password</span>
                </div>
                <div class="card-body align-items-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">Password reset complete</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Your password has been successfully reset. You can now log into your account.<span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
